<nav id="primary_nav_wrap">
    <% (function recursive(arr) { %>
      <ul>
          <% arr.forEach(function (item) { %>
            <li class="<%- item.active ? 'current-menu-item' : '' %>" >

                <% if (typeof item.submenu != 'undefined') { %>
                    <a href="<%- item.uri %>"><%- item.label %></a>
                    <% recursive(item.submenu) %>
                <% } else { %>
                    <a href="<%- item.uri %>"><%- item.label %></a>
                <% }%>
            </li>
          <% }) %>
      </ul>
    <% })(nav) %>
    <% if (typeof req.user != 'undefined') { %>
        <a id="logout" href="/logout">Logout</a>
    <% } %>
</nav>
<div class="clear"></div>
